@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

header {
    background-image: url(../Assets/Background_Image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content {
    height: 10%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.245);
    backdrop-filter: blur(10px);
}

.table-data {
    background-color: rgba(255, 255, 255, 0.245);
    backdrop-filter: blur(10px);
    max-height: 70%;
    overflow-y: scroll;
}

table {
    width: 100%;
}
th {
    height: 50px;
    /* background-color: blue; */
    text-align: center;
}
thead > tr > th {
    width: calc(100% / 6);
}
thead > tr > th:first-child {
    width: 5%;
}
tbody > tr > td:first-child {
    text-align: center;
}
tbody > tr > td:last-child {
    text-align: center;
}
tbody > tr:hover {
    background-color: rgba(255, 255, 255, 0.564);
    cursor: pointer;
}
tbody > tr > td {
    height: 40px;
    padding: 5px;
}
.edit-table {
    justify-content: space-evenly;
}
.edit-table > div {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    &:first-child:hover{
        background-color: rgb(175, 109, 3) !important;
        color: white;
    }
    &:last-child:hover {
        background-color: rgb(175, 8, 8) !important;
        color: white;
    }
}
